.containers {
    height: 110vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.certificate-card {
    height: 300px;
    width: 400px;
    background-color: black;
    color: white;
    background-color: black;
    margin-right: 25px;
    box-shadow: 0 5px 29px black;
}

.certificate-card:hover {
    box-shadow: 0 5px 29px red;
    transform: translateY(-10px);
}

.certificate-card h1 {
    color: orange;
    text-align: center;
    margin-top: 25px;
}

.certificate-card h4 {
    color: orange;
    text-align: center;
}

.certificate-card p {
    /* color: orange; */
    text-align: center;
    font-size: 20px;
    padding: 5px;
}

.certificate-card button {
    color: rgb(0, 12, 11);
    text-align: center;
    background-color: aqua;
    margin-left: 150px;
    height: 40px;
    width: 90px;
}

.certificate-card button:hover {
    background-color: rgb(4, 128, 128);
    box-shadow: 0 5px 15px red;
}

.header {
    display: flex;
    flex-direction: column;
}